<div class="show-pages">
<div class=" container-fluid my-5 ">
<div class="container">
 <!-- Inject the grid here -->
  <div>
      <div>
          <!-- Column -->
          <div class="card"> <img class="card-img-top" src="https://rf-maisondelaradio-production.s3.eu-west-3.amazonaws.com/s3fs-public/styles/full_width_932/public/assets/images/abra3341-compress-o.jpg" alt="Card image cap">
              <div class="card-body little-profile text-center">
                  <div class="pro-img"><img src="https://i.imgur.com/8RKXAIV.jpg" alt="user"></div>
                  <h3 class="m-b-0">Eric Clapton</h3>
                  <p>Musician &amp; Artist</p>
                              <div class="text mt-3"> <span>Eric Clapton is a professional musician with years of experience.<br>Artist/ Creative Director by night, rents his luxurious instruments by day for everyone to enjoy. </span> </div>
<br>
                              <div class="m-b-0 font-light"> <button class="btn1 btn-dark">Edit Profile</button> </div>

                  <div class="row text-center m-t-20">
                      <div class="col-lg-4 col-md-4 m-t-20">
                          <h3 class="m-b-0 font-light"></h3><small>3 Instruments en location</small>
                      </div>
                      <div class="col-lg-4 col-md-4 m-t-20">
                          <h3 class="m-b-0 font-light"></h3><small>Membre Instrumento depuis janvier 2021</small>
                      </div>
                      <div class="col-lg-4 col-md-4 m-t-20">
                          <h3 class="m-b-0 font-light"></h3><small>Ajouter ce membre aux favoris</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
</div>
