<div class="show-pages">
  <div>
      <div>
          <!-- Column -->
          <div class="card"> <img class="card-img-top" src="https://rf-maisondelaradio-production.s3.eu-west-3.amazonaws.com/s3fs-public/styles/full_width_932/public/assets/images/abra3341-compress-o.jpg" alt="Card image cap">
              <div class="card-body little-profile text-center">
                  <div class="pro-img"><img src="https://i.imgur.com/8RKXAIV.jpg" alt="user"></div>
                  <h3 class="m-b-0">Eric Clapton</h3>
                  <p>Musician &amp; Artist</p> <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">Book</a>
                  <div class="row text-center m-t-20">
                      <div class="col-lg-4 col-md-4 m-t-20">
                          <h3 class="m-b-0 font-light">3</h3><small>Instruments</small>
                      </div>
                      <div class="col-lg-4 col-md-4 m-t-20">
                          <h3 class="m-b-0 font-light">434K</h3><small>Ratings</small>
                      </div>
                      <div class="col-lg-4 col-md-4 m-t-20">
                          <h3 class="m-b-0 font-light">5454</h3><small>More</small>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
